<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

   <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="Emitir Ticket"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            
            <h:panelGrid columns="2">
                <h:outputText value="Palavra Chave" />
                <h:outputText value="#{ticketBean.palavraChaveGerada}" />
            </h:panelGrid>
            
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="placa" for="placa" />
                    <h:inputText id="codfunc" value="#{ticketBean.placa}" title="placa" required="true" requiredMessage="Placa deve ser preenchida"/>
                    <h:outputLabel value="PalavraChave" for="palavraChave" />
                    <h:inputText id="nome" value="#{ticketBean.palavraChave}" title="palavraChave" required="true" requiredMessage="Placa deve ser preenchida"/>
                </h:panelGrid>
                <br />
                <h:commandButton action="#{ticketBean.create}" value="Emitir" />
                <br />
                <br />
                                
            </h:form>
            
        </ui:define>

    </ui:composition>
</html>
