<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="Emitir Ticket"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>


            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Codigo:" for="codigo" />
                    <h:inputText id="codigo" value="#{ticketBean.codigo}" title="Codigo" required="true" requiredMessage="Codigo deve ser preenchido">
                        <f:convertNumber integerOnly="true" type="number" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandButton action="#{ticketBean.liberar}" value="Liberar" />
                <br />
                <br />

            </h:form>

        </ui:define>

    </ui:composition>
</html>
