<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">

        <ui:define name="body">


            <p:panelGrid >


                <p:row>
                    <p:column colspan="2">       
                        <h:panelGrid columns="1" border= "0" style="display:block; text-align:center; border: none;">   
                        <p:graphicImage value="#{ticketBean.barcode}" />   
                        <h:outputText value="#{ticketBean.ticket.codigo}" />
                        </h:panelGrid>  
                    </p:column>
                </p:row>


                <p:row>

                    <p:column><h:outputLabel value="Placa:" for="placa" /></p:column>
                    <p:column><h:outputText id="placa" value="#{ticketBean.ticket.placa}"/></p:column>

                </p:row>
                <p:row>
                    <p:column><h:outputLabel value="PalavraChave:" for="palavraChave" /></p:column>
                    <p:column><h:outputText id="palavraChave" value="#{ticketBean.ticket.palavraChave}"/></p:column>
                </p:row>
                <p:row>
                    <p:column><h:outputLabel value="Codigo:" for="codigo" /></p:column>
                    <p:column><h:outputText id="codigo" value="#{ticketBean.ticket.codigo}"/></p:column>
                </p:row>
                <p:row>
                    <p:column><h:outputLabel value="Dataentrada:" for="dataentrada" /></p:column>
                    <p:column><h:outputText id="dataentrada" value="#{ticketBean.ticket.dataentrada}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText></p:column>
                </p:row>
                
                <p:row>
                    <p:column><h:outputLabel value="Data Saída:" for="datasaida" /></p:column>
                    <p:column><h:outputText id="datasaida" value="#{ticketBean.ticket.datasaida}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText></p:column>
                </p:row>
                
                <p:row>
                    <p:column><h:outputLabel value="Valor Pago:" for="valor" /></p:column>
                    <p:column><h:outputText id="valor" value="#{ticketBean.ticket.valorpago}"/></p:column>
                </p:row>
                
                <p:row>
                    <p:column><h:outputLabel value="Status:" /></p:column>
                    <p:column>
                        <h:outputText  value="Liberado" rendered="#{ticketBean.ticket.statusliberado eq 'S'}"/>
                    <h:outputText value="Não Liberado" rendered="#{ticketBean.ticket.statusliberado eq 'N'}" style="color: red;"/></p:column>
                    
                </p:row>
                
            </p:panelGrid>

        </ui:define>
    </ui:composition>
</html>
