<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <style type="text/css">
        .ui-layout-unit{
             border: none;
        }
    </style>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="Home" outcome="/index" icon="ui-icon-home"/>
                        
                        <p:submenu label="Cancela Entrada" icon="ui-icon-contact">
                            <p:menuitem value="Emitir Ticket" outcome="/tickets/Create.xhtml" icon="ui-icon-circle-plus"/>
                        </p:submenu>
                        <p:submenu label="Cancela Saída" icon="ui-icon-contact">
                            <p:menuitem value="Saída Ticket" outcome="/tickets/Saida.xhtml" icon="ui-icon-circle-plus"/>
                       </p:submenu>
                        
                        <p:submenu label="Caixa" icon="ui-icon-contact">
                            <p:menuitem value="Consultar Ticket" outcome="/tickets/Consulta.xhtml" icon="ui-icon-circle-plus"/>
                            <p:menuitem value="Calcular Pagamento" outcome="/tickets/Calcular.xhtml" icon="ui-icon-circle-plus"/>
                            <p:menuitem value="Efetuar Pagamento" outcome="/tickets/Pagamento.xhtml" icon="ui-icon-circle-plus"/>
                            <p:menuitem value="Liberar s/ Pag." outcome="/tickets/Liberar.xhtml" icon="ui-icon-circle-plus"/>
                       </p:submenu>
                        
                        <p:submenu label="Gerencial" icon="ui-icon-contact">
                            <p:menuitem value="Valor total recebido" outcome="/gerencial/GerencialValorRecebido.xhtml" icon="ui-icon-circle-plus"/>
                            <p:menuitem value="Tickets Pagos" outcome="/gerencial/GerencialPagos.xhtml" icon="ui-icon-circle-plus"/>
                            <p:menuitem value="Liberados s/ Pgto." outcome="/gerencial/GerencialLiberados.xhtml" icon="ui-icon-circle-plus"/>
                            
                       </p:submenu>
                        
                        
                    </p:menubar>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
